{% extends 'main.html' %}

{% block content %}
<h1>Search Results</h1>
<small class="text-muted">{{count}} songs found</small>
<div class="song-container">
    {% for song in songs %}
        <div class="card">
            <a href="{% url 'song' song.id %}">
                <img src="{{song.imageUrl}}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{song.title}}</h5>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}